<div class="middle-centered">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="t-mobile-header-image"></div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please provide your user name and password</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" autocomplete="off">
        <p>
          <mat-form-field class="login-full-width">
            <input matInput placeholder="User name" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              User name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="login-full-width">
            <input matInput type="password" placeholder="Password" formControlName="password"
                   required>
            <mat-error *ngIf="isFieldInvalid('password')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <div class="login-button-row">
          <button #btnLogin mat-raised-button color="primary" type="submit" (keyup.enter)="onSubmit()">Login</button>
        </div>
        <br>
        <div>
          <span>Server is <span [ngStyle]="{'color': serverStatus === 'up' ? 'green' : 'red'}"><strong>{{serverStatus ? 'up' : 'down'}}</strong></span></span>
        </div>
      </form>
      <br>
    </mat-card-content>
  </mat-card>
</div>
