//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500');

@include mat-core();

$primary: mat-palette($mat-gray, 600);
$accent: mat-palette($mat-red, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

h1, h2, h3, h4 {
  font-weight: normal;
}

.t-mobile-header-image {
  background-image: url(t-mobile-icon.png);
  background-size: cover;
}

.middle-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-centered {
  position: fixed;
  top: 10%;
  left: 40%;
  transform: translate(-10%, -10%);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.default-card {
  width: auto;
  height: 100%;
}

.animal-font-green {
  color: green;
  font-size: 12vw;
  font-family: 'Roboto', sans-serif
}

.animal-font-red {
  color: green;
  font-size: 12vw;
  font-family: 'Roboto', sans-serif
}

.page {
  min-height: 80%;
  position: relative;
}

.parent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
