//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~primeng/resources/primeng.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~font-awesome/css/font-awesome.min.css';

@include mat-core();

$primary: mat-palette($mat-gray, 600);
$accent: mat-palette($mat-red, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

h1, h2, h3, h4 {
  font-weight: normal;
}

//.fullScreen {
//  position: absolute;
//  min-height: 100% !important;
//}

.t-mobile-header-image {
  background-image: url(t-mobile-icon.png);
  background-size: cover;
}

.t-mobile-header-image-big {
  background-image: url(t-mobile-icon.png);
  background-size: cover;
  height: 42px;
  width: 42px;
}

.middle-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-centered {
  position: fixed;
  top: 10%;
  left: 40%;
  transform: translate(-10%, -10%);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.default-card {
  width: auto;
  height: 100%;
}

.animal-font-green {
  color: green;
  font-size: 12vw;
  font-family: 'Roboto', sans-serif
}

//.mat-dialog-container {
//  width: 20px;
//  height: 20px;
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}

.voted-font-magenta span.ui-treenode-label  {
  color:magenta;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

.node-font-black span.ui-treenode-label  {
  color:black;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

.animal-font-red {
  color: green;
  font-size: 12vw;
  font-family: 'Roboto', sans-serif
}

.page {
  min-height: 80%;
  position: relative;
}

.parent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
